body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    margin-top: 3%;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    margin-bottom: 4.5rem;
    padding-bottom: .6rem;
}

.navbar-nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.navbar-brand {
    font-family: 'Ubuntu', serif;
    font-weight: 700;
    font-size: 1.8em;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: light;
}

.container-fluid {
    padding: 3% 15%;
}

#title {
    background-color: #ff4c68;
}

#iphone {
    transform: rotate(25deg);
    width: 60%;
}

.download-button {
    margin: 6% 3% 5% 0;
}

.feature-icon {
    color: #ef8172;
}

#features .col p {
    color: #8f8f8f;
}